*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #020202;
    color: #FFFFFF;
    padding: 30px;
    position: relative;
}
body::before{
    content: "";
    background-image:linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.8)), url("../assets/img/bg.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

header {
    height: 44px; 
    display: flex;
    justify-content: center;
    padding: 6px 0px 36px; 
}
.robotoMono{
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color : var{--gradient-content};
}
.sora{
    font-family: 'Sora';
    font-size: 40px;
    font-weight: extrabold;
    line-height: 130%;
}
.robotoFlex{
    font-family: 'Roboto Flex', sans-secondary;
    font-size: 20px;
}
.classTitulo{
    margin-bottom: 42px;
}

.infoSorteio{
    display: flex;
    flex-direction: column;
    gap : 40px;
}

.classFlex{
    display: flex;
    gap: 12px;
}

.paragrafo14{
    font-family: 'Roboto Flex', sans-secondary;
    font-size: 14px;
}

.classFlex div p{
    font-family: 'Roboto flex';
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.classFlex div input{
    border: none;
    height: 56px;
    width: 86px;
    border-radius: 8px;
    background: #ffffff1b;
    font-family: 'Sora', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: var(--content-primary);
    text-align: center;
}

/* Ocultar setas do spinner em inputs number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield;
}