@import url('variaveis.css');
@import url('botoes.css');
@import url('resultado.css');

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #020202;
    color: #FFFFFF;
    padding: 30px;
    position: relative;
}
body::before{
    content: "";
    background-image:linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.8)), url("../assets/img/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

header {
    height: 44px; 
    display: flex;
    justify-content: center;
    padding: 6px 0px 36px; 
}
.robotoMono{
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color : var{--gradient-content};
}
.sora{
    font-family: 'Sora';
    font-size: 40px;
    font-weight: extrabold;
    line-height: 130%;
}
.robotoFlex{
    font-family: 'Roboto Flex', sans-secondary;
}

.size20{
    font-size: 20px;
}

.gap8{
    gap: 8px;
}
.classTitulo{
    margin-bottom: 42px;
}

.infoSorteio{
    display: flex;
    flex-direction: column; 
}

.classFlex{
    display: flex;
}

.classFlex12{
    display: flex;
    gap: 12px;
}
.classFlexCenter{
    display: flex;
    justify-content: center;
}

.container1{
    margin-bottom:40px;
}

.paragrafo14{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 14px;
}

.classFlex12 div p{
    font-family: 'Roboto flex';
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.classFlex12 div input{
    border: none;
    height: 56px;
    width: 86px;
    border-radius: 8px;
    background: #ffffff1b;
    font-family: 'Sora', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: var(--content-primary);
    text-align: center;
}


.robotoFlex12{
    font-family: 'Roboto flex', sans-serif;
    font-weight: bold;
}

.hoverStyle  input:hover{
    bor
}

.top20{
    margin-top: 20px;
}

.contentCenter{
    display: flex;
    align-items: center;
}

.containerText{
    margin-top: 50px;
    font-size: 12px;

    img{
        height: 20px;
    }
    .title{
        color: var(--content-brand);
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 4px;
        line-height: 150%;
    }
}
.containerTextResult{
    margin-top: 30px;
    font-size: 12px;

    img{
        height: 20px;
    }
    .title{
        color: var(--content-brand);
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 4px;
        line-height: 150%;
    }
}


.bottom36{
    margin-bottom:36px;
}

a{
    text-decoration: none;

    font-family: 'Roboto flex';
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
    color: #ffffff;
}


.txtCenter{
    text-align: center;
}



@media screen and (min-width: 1280px) {

    body{
        overflow: hidden;
        padding: 86px 140px;


        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 224px 100px 100px;

        grid-template-areas: 
        "header header"
        "grid1 grid3"
        "grid2 grid4"
        "grid2 grid5";
    }

    .header { grid-area: header; }
    .grid1 { grid-area: grid1; }
    .grid2 { grid-area: grid2; }
    .grid3 { grid-area: grid3; }
    .grid4 { grid-area: grid4; }
    .grid5 { grid-area: grid5; }


    header{
        justify-content: left;

        img{
            height:60px;
        }
    }

    .sora{
        font-size: 72px;
        width:508px;

    }
    .container1{
        padding-top: 39px;
        margin-left: 108px;
    }
    h3{
        width: 482px;
    }
    .paragrafo14{
        font-size: 16px;
        width: 482px;
    }
    .classFlex12{
        margin-left: 108px;
    }

    .grid2{
        height: 100px;
    }

    .grid4{
        margin-left: 108px;
    }
    .grid5{
        width: 482px;
        margin-left: 108px;
    }

    .containerText{
        margin-top: 0px;
    }

    .btnSortear{
        height: 56px;
        width: 482px;
        margin-bottom: 0px;
    }

    .classTitulo{
        margin-bottom: 0px;
        height: 200px;
    }   

    .btnSortear{
        margin-bottom: 0px;
    }

    .width482{
        width: 482px;
    }

}